{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
   <title>weClick - Help</title>
   <link rel="stylesheet" type="text/css" href="{% static 'polls/admin.css' %}" />
   <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
   
</head>
<body>
	
	<div id="helpmain">
		<div>
		<p><span id="desc">weClick</span> is a FREE web-based alternative to a physical clicker devices used for taking polls real-time. 
		Instead of using a physical clicker device you can now use a laptop, tablet or even your smartphone to respond to polls conducted during a class, group meeting, presentation etc. 
		The person conducting the poll (administrator) can control when answers are being received and can display the votes received in an easy to understand color-coded bar-graph. 
		The respondents can select one of the options (A through E) and send the vote anonymously. The administrator has no knowledge of who has cast each particular vote.
		<br>Some possible uses for this website are: asking a multiple choice question during a class and collecting their answers to help gage student understnading of the material, 
		conducting an anonymous vote on an issue during a group meeting, getting quick feedback after a presentation.
		<p>We hope you will enjoy using weClick!</p>
		</div>

		<h1>Tutorial</h1>
		<div id="admin">
		<h3>Administrator Page</h3>
		<ol>
		<li>Sign up or Sign in is as an administrator</li>
		<li>Press the 'Start' button to begin polling</li>
			<ul>
			<li>The timer will start counting up</li>
			<li>The Respondent page will now accept answers</li>
			</ul>
		<li>Press the 'Stop' button when you want to stop the polling</li>
			<ul>
			<li>The Respondent page will no longer accept answers</li>
			</ul>
		<li>Press the 'Show Results' button to display the responses to the poll</li>
			<ul>
			<li>The responses will be displayed in the form of a bar graph on the right side of the page</li>
			<li>The height of each of the bars will be proportionate to the number of responses given for each of the options</li>
			</ul>
		<li>Press the 'Start' button again to start a new poll</li>
			<ul>
			<li>The timer will reset and start counting up from 00:00:00 again</li>
			<li>The Respondent page will once again start accepting answers</li>
			</ul>
		</ol>
		</div>
		<div id="resp">
		<h3>Respondent Page</h3>
		<ol>
		<li>Sign up or Sign in is as a respondent</li>
		<li>Press/Tap on one of the choices</li>
			<ul>
			<li>The selected choice will be grayed out</li>
			<li>The ‘Submit’ button will no longer be grayed out and will be active</li>
			</ul>
		<li>Press the ‘Submit’ button to send your response</li>
			<ul>
			<li>The ‘Submit’ button will become grayed out and inactive</li>
			<li>No more answers can be submitted until a new poll is started</li>
			</ul>
		</ol>
		</div>
	</div>

</body>
</html>