a:visited {
	
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body, a {
  font-family: 'BioRhyme', serif;
  font-size: 24px;
  text-align: center;
  background-image: url("weClicker.JPG");
  background-position: right bottom; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-header {
    margin-top: 0;

	color: green;

}

.content-body {
	padding-top: 20px;
}

#title {
	font-size: 39px;
}

#title a {
	font-size: 39px;
	color: green;
}

#title a:hover {
	text-decoration: none;
	color: red;
}

#title a:visited {
	color: green;
}